name: "Main"
on:
  repository_dispatch:
  pull_request:
  push:
    branches:
      - "master"
      - "main"
      - "v[0-9]+.[0-9]+.[0-9]+"
    paths-ignore:
      - "README.md"

jobs:
  build-test:
    runs-on: ubuntu-latest
    name: Build test
    if: github.event_name != 'push'
    steps:
      - uses: actions/checkout@v2
      - run: npx @dappnode/dappnodesdk build --skip_save

  e2e-test:
    runs-on: prater
    needs: build-test
    if: github.event_name != 'push'
    name: End to end tests
    steps:
      - uses: actions/checkout@v2
      - run: npx @dappnode/dappnodesdk@latest github-action test-end-to-end --errorLogsTimeout 120 --healthCheckUrl http://beacon-chain.lodestar-prater.dappnode:3500/eth/v1/beacon/genesis --network prater
        env:
          VALIDATOR_INDEX: ${{ secrets.PRATER_VALIDATOR_INDEX }}

  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - name: Publish
        run: npx @dappnode/dappnodesdk publish patch --dappnode_team_preset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEVELOPER_ADDRESS: "0x95Ed2E550a3A90232ae664312280B908f91C5b07"
